
@{
    ViewBag.Title = "FinishShopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
   <div class="row">
       <div class="col-md-12 text-center">
           <h2>Siparişiniz Tamamlanmıştır.</h2>
       </div>
   </div>
</div>

