
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            @using (Html.BeginForm("Register", "Login", FormMethod.Post))
            {
            <fieldset>
                <legend>Üye Ol</legend>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="text" name="name" placeholder="Adınızı giriniz.." class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="text" name="surname" placeholder="Soyadınızı giriniz.." class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="text" name="username" placeholder="Kullanıcı adınızı giriniz.." class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="password" name="password" placeholder="Parolanızı giriniz.." class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <span>Cinsiyet</span><br />
                            Erkek: <input type="radio" name="gender" value="true" />
                            Kadın: <input type="radio" name="gender" value="false" />

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <span>Doğum tarihiniz</span>
                            <input type="date" name="birthdate" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-10 col-md-offset-2 text-center">
                            <input type="submit" value="Kayıt Ol" class="form-control btn btn-info" />
                        </div>
                    </div>
                </div>
            </fieldset>

            }
        </div>
     </div>
</div>

